/* Define CSS Variables */
:root {
    --background-color: #2c3e50;
    --container-background: #34495e;
    --primary-color: #3498db;
    --primary-hover: #2980b9;
    --text-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --input-background: #2c3e50;
    --animation-color-start: #ce70a4;
    --animation-color-mid: #9640ce;
    --animation-color-end: #1270ce;
}

/* Global Styles */
body {
    font-family: Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container Styles */
.container {
    width: 90%;
    max-width: 900px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--container-background);
    box-shadow: 0 0 20px var(--shadow-color);
    transform: scale(1.2);
}

/* Header Styles */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Button Container Styles */
.button-container-top,
.button-container-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap; /* Allows buttons to wrap on smaller screens */
}

.button-container-top a,
.info-button,
button,
.toggle-button {
    flex: 1;
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button-container-top a:hover,
.info-button:hover,
button:hover,
.toggle-button:hover {
    background-color: var(--primary-hover);
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

@media (min-width: 600px) {
    .flex-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.flex-item {
    flex: 1;
    margin-bottom: 10px;
}

@media (min-width: 600px) {
    .flex-item {
        margin-right: 10px;
    }
    .flex-item:last-child {
        margin-right: 0;
    }
}

/* Input and Label Styles */
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--input-background);
    color: var(--text-color);
    box-sizing: border-box;
}

select {
    appearance: none;
}

/* Output Styles */
#output,
.title-output {
    margin-top: 20px;
    color: var(--text-color);
}

/* Toggle Button Styles */
.toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    width: 100%;
    margin-bottom: 10px;
}

/* Copy Animation */
.copy-animation {
    animation-name: copyAnimation;
    animation-duration: 1.10s;
}

@keyframes copyAnimation {
    0% {
        background-color: var(--animation-color-start);
    }
    50% {
        background-color: var(--animation-color-mid);
    }
    100% {
        background-color: var(--animation-color-end);
    }
}

/* Tick Button Styles */
.tick-button {
    background-color: var(--animation-color-end);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    min-width: 230px;
    justify-content: center;
}

.tick-icon {
    margin-right: 10px;
    font-size: 20px;
}

.tick-time {
    flex-grow: 1;
    text-align: center;
}

/* Responsive Media Queries */
@media (max-width: 800px) {
    .container {
        transform: scale(1); /* Reset scale for smaller screens */
        padding: 15px;
    }

    .button-container-top,
    .button-container-bottom {
        flex-direction: column;
    }

    .button-container-top a,
    .info-button,
    button,
    .toggle-button {
        margin: 5px 0;
        padding: 10px;
    }

    .tick-button {
        padding: 10px 20px;
        min-width: auto;
    }

    .tick-icon {
        font-size: 18px;
    }

    .tick-time {
        font-size: 14px;
    }
}
