/**
 * @name BetterSuperRefined
 * @author SirSuperDeath
 * @version Dev
 * @description Just some Fixes and Snippets / Supers Personal Theme
 * @source https://github.com/SuperDeath
 * @website https://sirsuperdeath.github.io
 */




 /** imports css is all should be in here 
  * This file is mostly for testing but hey
  * maybe it will become a theme **/
 /*@import url(https://sirsuperdeath.github.io/Files/vizality/CVFixes.css);*/
 @import url(https://sirsuperdeath.github.io/Files/S/Rightclick.css);
 @import url(https://sirsuperdeath.github.io/Files/Super/SSD.css);
 @import url(https://sirsuperdeath.github.io/Files/S/SuperImport.css);


#app-mount .container-2McqkF {
  background: rgba(43, 43, 43, 0.411);
  backdrop-filter: blur(10px);
}
/* Remove leave button */
.colorDefault-CDqZdO[id="guild-header-popout-leave"] {
  display: none;
}

/* Remove Public Tag */
.communityInfoContainer-1dMVpU {
  display: none;
}
 /* Remove Boost Goal*/
 .container-3fNISf {
   display: none !important;
 }
 /*Change the Old member list icon back to the old one*/
 .icon-2xnN2Y [d="M6 1C3.243 1 1 3.244 1 6c0 2.758 2.243 5 5 5s5-2.242 5-5c0-2.756-2.243-5-5-5zm0 2.376a.625.625 0 110 1.25.625.625 0 010-1.25zM7.5 8.5h-3v-1h1V6H5V5h1a.5.5 0 01.5.5v2h1v1z"] {
   d: path("M 7 4.003 C 7 5.1055 6.103 6.003 5 6.003 C 3.8975 6.003 3 5.1055 3 4.003 C 3 2.9005 3.897 2.003 5 2.003 C 6.103 2.003 7 2.9005 7 4.003 Z M 1 9.503 C 1 7.7365 2.645 6.503 5 6.503 C 7.3555 6.503 9 7.7365 9 9.503 V 10.003 H 1 V 9.503 Z M 10 10.003 H 11 V 9.503 C 11 8.2217 10.1349 7.2207 8.7607 6.7676 C 9.5311 7.4563 10 8.403 10 9.503 V 10.003 Z M 7.4417 5.9539 C 8.3329 5.7522 9 4.9539 9 4 C 9 2.9846 8.2347 2.1411 7.2485 2.0183 C 7.7161 2.5476 8 3.2426 8 4 C 8 4.7244 7.7444 5.3871 7.3189 5.9051 C 7.3601 5.9209 7.4011 5.9371 7.4417 5.9539 Z");
 }
 #app-mount .listItemWrapper-3X98Pc .childWrapper-1j_1ub {
  background: url("https://i.imgur.com/233d55Y.gif") center/cover no-repeat;
}
 .homeIcon-r0w4ny {
   display: none;
 }
 .UserBackgrounds-banner-badge {
   display: none;
 }
 
 #dv-mount {
   background-color:rgba(0, 0, 0, 0.342) !important;
 }
 
 .toolbar-3_r2xA .iconWrapper-2awDjA.selected-29KTGM {
   background: transparent !important;
   color: rgba(255, 255, 255, 0.5);
 }
 
 [aria-label="Window Bar"],
 [aria-label="Members List"],
 [aria-label="Message Bar"]
  {
   display: none; }
 
 /* Channel DMS */
 .tabs-1RhQha, .container-NkLXgf {
   background: rgba(0, 0, 0, 0.6) !important;
   
 }
 .ChannelDms-channelpopout-popout {
   background: rgba(0, 0, 0, 0.739) !important;
 }
 .ChannelDms-channelpopout-header {
 background: rgba(6, 3, 22, 0.685) !important;
 }
 
 /* Clock plugin */
 #clockPluginClock::before {
   display: none;
 }
 #clockPluginClock {
   margin-left: 69px;
   /*left: 1675px;*/
   color: rgb(255, 255, 255);
   font-size: 26px;
   margin-top: -7px;
 }
 
 /* User avatar */
 .userInfo-2WpsYG .avatar-2MSPKk { width: 40px !important; height: 40px !important;}
 /* Buttons */
 .actionButton-3-B2x-, .actionButton-3-B2x-.highlight-3DSi7b { background-color: transparent;}
 /* Remove anoyying light up avatar when talking */
 .avatarSpeaking-33RRJU {
   display: none;
 }
 /* Remove grayscale filter on emotes you cant use */
 .emojiItem-277VFM.emojiItemDisabled-3VVnwp { filter: none;}
 /*This is where i add the temp code UWU*/
 /* */
 /* Hiding the Video chat buttons *
 .container-1zzFcN>.actionButtons-2vEOUh{
     display:none;
   }
 
   .container-1zzFcN:hover>.actionButtons-2vEOUh {
     display:flex;
   }
 
 /* Not in use Code*/
 /* Sticky Home icon */
 /*
 .tutorialContainer-1v44GL::before {
     content: "";
     width: 100%;
     display: block;
     height: 12px;
     top: -5px;
     position: absolute;
     background-color: rgba(0, 0, 0, 0.342);
 }
 
 .tutorialContainer-1v44GL {
     position: sticky;
     overflow-y: visible;
     background-color: rgba(0, 0, 0, 0.856);
     top: -5px;
     z-index: 1;
     padding-bottom: 5px;
 }
 .unreadMentionsIndicatorTop-gA6RCh {
     margin-top: 45px
 }