/* For other Fixes such as Hide Memberlist , Servers etc they are now located in https://raw.githubusercontent.com/SuperDeath/superdeath.github.io/master/README.md
PS if your looking at this your awesome and wash your hands and stay safe OWO :) */
/* Hide Channels and show them on hover*/
.container_fd18f1:hover{
  opacity: 100%;
}
.sidebar_e031be{
  width:0px !important;
  transition:.5s ease !important;
}
.platform-win .base_c0676e{
  border-radius: 8px 0 0 !important;
}
.wrapper-1Rf91z:hover+.base_c0676e>.content__76dcf>.sidebar_e031be{
  width:240px !important;
}
.sidebar_e031be:hover{
  width:240px !important;
}
