/* Hiding Things Area*/
/* Hides Textbox when you don't have permission to talk in the channel */
.channelTextAreaDisabled_d0696b > div {
  display: none
}
/*Gift Button Hider Snippet*/
.channelTextArea_d0696b .buttons_d0696b .button-38aScr[tabindex="0"]:first-child,
.channelTextArea_d0696b .buttons_d0696b .buttonWrapper_cecf00 + .buttonWrapper_cecf00[tabindex="0"] {
    display:none;
}
.channelTextArea_d0696b .buttonContainer_d0696b .button-38aScr {
    display:block !important;
}
/* Remove anoyying light up avatar when talking */
.avatarSpeaking-33RRJU {
display: none;
}
/* Hide Active and show on hover*/
.nowPlayingColumn_c2739c {
position: relative;
left: 350px ;
opacity: 1;
margin-left: -350px;
transition: .3s all ease-out;}
.nowPlayingColumn_c2739c:hover {
left: 0 ;
opacity: 1;
margin-left: 0;
transition: .3s all ease-out;}
/* Noise Suppression Button Hider*/
[aria-label="Noise suppression powered by Krisp"] {
display: none;
}
/* Hide the live text to just be a Dot (due to the text taking up too much space)*/
.liveSmall_e17fae {
  font-size: 0px;
}
/* Remove Seperator between Home and Guilds */
.guildSeparator-3s64Iy {
  display: none;
}
/* Remove Stage Discovery */
.channel_c91bad[href="/discovery"] {
display: none;
}
/* Hide Invite to server button on user right click */
.colorDefault-CDqZdO[id="user-context-invite-to-server"] {
    display: none;
}
/* Hide Add note button on user right click*/
.colorDefault-CDqZdO[id="user-context-note"] {
display: none;
}
/* Hide Call user button on user right click */
.colorDefault-CDqZdO[id="user-context-call"] {
    display: none;
}
/* Hide Call user button on user right click */
.colorDefault-CDqZdO[id="user-context-block"] {
display: none;
}

/* Hide Discord logo */
.wordmarkWindows_a934d8 svg {display: none;}

.container_e40c16 {
/* You may need to adjust this */
--translate-px: -389px;
height: 1px;
transform: translateY(var(--translate-px));
background: transparent;
}
.container_e40c16::before {
content: 'You are offline!';
top: 0.5px;
position: absolute;
font-weight: 900;
font-size: smaller;
color: var(--info-danger-foreground);
text-transform: uppercase;
}
.container_e40c16 > .content_e40c16,
.container_e40c16 > .problems_e40c16 {
display: none;
}
/* Hiding the emote icon and gif icon behind the send file icon untill you hover over it*/
.buttons_d0696b {opacity: 0; transition: opacity 0.1s;}
.channelTextArea_d0696b:hover .buttons_d0696b {opacity: 1.0;}

.attachWrapper_f298d4 {order:1; margin-left:9px;}
.attachButton_f298d4 {padding-right:0px}

.uploadModal_f82cc7 .buttons_d0696b {opacity: 1.0;}


/* Doing this just incase they change the class again */
[aria-label="Help"] {
display: none; 
}
/* Hide Mute/Deafen buttons when not in a voice call (Original from Zerthox) 
.container_b2ca13 .button_f67531:first-child,
.container_b2ca13 .button_f67531:nth-child(2),
.container_b2ca13 .button_f67531:nth-child(3)::before {
    display:none;
}
.container_adcaac + .container_b2ca13 .button_f67531:first-child,
.container_adcaac + .container_b2ca13 .button_f67531:nth-child(2),
.container_adcaac + .container_b2ca13 .button_f67531:nth-child(3)::before {
    display: flex;
}
*/
/* Hide Picture in Picture Streaming (if you like to see them let me know and ill move it to a diff CSS*/
/* .pictureInPictureWindow_d0596b{display:none;}

