/** This CSS Hides most of the nitro things cus it gets annoying
 * 
 */
[href="/store"],
.buttons-uaqb-5 > button:not(.message-translate-settings-button),
[aria-controls="Discord Nitro-tab"],
[aria-controls="Billing-tab"],
[aria-controls="Nitro Server Boost-tab"],
#guild-header-popout > div > .separator-1So4YB:nth-child(2),
.shinyButton-2Q9MDB,
.emojiSection-3QtaWO > .flex-2S1XBF > .size14-3fJ-ot,
.emojiSection-3QtaWO > .flex-2S1XBF > .flex-2S1XBF > .size14-3fJ-ot,
.emptyStateSubtext-1nMe5m, 
.content-374sTA, 
.wrapper-1hrFc0, 
.wrapper-3nSjSv, 
.divider-Uf0Wob,
.perksModalContentWrapper-2HU6uL > .content-2qfHzC:nth-child(3),
.guildsBlurb-1fFvov,
.marketingHeader-27aoGA,
.content-11k50x > div:not(.marketingLogo-pyU32f), .content-11k50x > h3,
.subscribeTooltipWrapper-3ipXtC,
.headerBlurb-1GxBrq,
.giftAction-yhDLaW,
.tierMarkerLabelContainer-1bRYay
{ display: none;}

/* -- Repairing the damages -- */
/* Emote information popup */
.emojiSection-3QtaWO > .flex-2S1XBF, .popoutContainer-2wbmiM > .flex-2S1XBF { 
  flex-direction: column;
  align-items: center;
}
.emojiSection-3QtaWO > .flex-2S1XBF > .flex-2S1XBF,
.popoutContainer-2wbmiM > .flex-2S1XBF > .flex-2S1XBF { margin-left: 0px; }
.primaryEmoji-2Og_xG { margin: 0px 0px 12px 0; }
.popoutContainer-2wbmiM { width: auto; }
/** Removing the grayscale of nitro needed emotes useful 
 * if you have the DiscordFreeEmojis plugin by AnO **/
.emojiItemDisabled-3VVnwp {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
/* Server Boost */
.ctaBar-2UsjF2 { margin: auto;}