/* For other Fixes such as Hide Memberlist , Servers etc they are now located in https://raw.githubusercontent.com/SuperDeath/superdeath.github.io/master/README.md*/
@import "Hider.css";
@import "NitroHider.css";

/**Mostly revert profile popout**
Replaces new profile popout with old one as best as possible in css*/
/*Popout*/
#popout_31.layer-2aCOJ3 {
    position: fixed !important;
    bottom: 57px !important;
    left: 80px !important;
}
.profileGroup-1yKk23 {
    display: none;
}
.styleFixed-2_NfVL, .submenu-1apzyU {
    width: 220px;
}
/*Button*/
.scroller-1bVxF5 {
    padding: 6px 8px;
}
/*Separator*/
.separator-1So4YB {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 4px;
    border-bottom: 1px solid var(--background-modifier-accent);
}
.separator-1So4YB:is(:nth-child(2)) {
    display: none;
}
.submenu-1apzyU .separator-1So4YB:is(:nth-child(2)) {
    display: flex;
}
/*Status Menu*/
.submenu-1apzyU .scroller-1bVxF5 {
    padding: 6px 6px 6px 8px;
}
.status-2xYiEF {
    padding-left: 4px;
}
.description-1Dd2kv {
    padding-left: 4px;
    margin-top: 2px;
    margin-bottom: 0;
}
/*Left Icon*/
.iconContainerLeft-2NHJgN {
    margin-left: -2px;
    margin-right: 8px;
}
.iconContainerLeft-2NHJgN .mainStatusIcon-25wiNY {
    width: 10px;
    height: 10px;
    margin-left: 2px;
}
/*Right Icon*/
.hintContainer-2UwhLP, .imageContainer-1wSPgI, #edit-custom-status svg {
    width: 16px;
    height: 16px;
}
